#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Sinergia AppImage Manager
Comment=Gestor moderno de archivos AppImage para Linux
Exec=appimage-manager
Icon=application-x-executable
Terminal=false
Categories=Utility;PackageManager;
